<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joonwook.realestate.Mapper.AptInfoMapper">
    <select id="selectAptInfo" parameterType="com.joonwook.realestate.dto.AptInfoDto" resultType="com.joonwook.realestate.domain.Apartment">
        SELECT
                APT_ID as aptId,
                HIST_STRT_DTS as histStrtDts,
                HIST_END_DTS as histEndDts,
                APT_NM as aptNm,
                RGN_CD as rgnCd,
                RGN_DTL_CD as rgnDtlCd,
                ADDRESS as address,
                APT_YEAR as aptYear,
                UNIT_AMT as unitAmt,
                PLOT_RATE as plotRate,
                REG_DTS as regDts,
                REGPE_ID as regpeId,
                MOD_DTS as modDts,
                MODPE_ID as modpeId
        FROM APT
        WHERE 1=1
        AND (#{rgnCd} IS NULL OR RGN_CD = #{rgnCd})
        AND (#{rgnDtlCd} IS NULL OR RGN_DTL_CD = #{rgnDtlCd} OR #{rgnDtlCd} = '')
    </select>

    <select id="selectAptDtlInfo" parameterType="com.joonwook.realestate.dto.AptDtlInfoDto" resultType="com.joonwook.realestate.dto.AptDtlInfoDto">
        SELECT
            A.APT_ID as aptId,
            AD.APT_DTL_ID as aptDtlId,
            A.APT_NM as aptNm,
            A.RGN_CD as rgnCd,
            A.RGN_DTL_CD as rgnDtlCd,
            A.ADDRESS as address,
            A.APT_YEAR as aptYear,
            A.UNIT_AMT as unitAmt,
            A.PLOT_RATE as plotRate,
            AD.TOT_AREA as totArea,
            AD.USBL_AREA as usblArea,
            AD.ROOM_AMT as roomAmt,
            AD.TOILET_AMT as toiletAmt,
            AD.HIGH_SELL_PRC as highSellPrc,
            AD.HIGH_SELL_DT as highSellDt,
            AD.HIGH_RENT_PRC as highRentPrc,
            AD.HIGH_RENT_DT as highRentDt
        FROM APT A
        INNER JOIN APT_DTL AD
        ON A.APT_ID = AD.APT_ID
        WHERE 1=1
        AND A.APT_ID = AD.APT_ID
        AND A.HIST_END_DTS = '9999-12-31 23:59:59'
        AND AD.HIST_END_DTS = '9999-12-31 23:59:59'
        AND (#{aptId} IS NULL OR A.APT_ID = #{aptId})
        AND (#{rgnCd} IS NULL OR A.RGN_CD = #{rgnCd})
        AND (#{rgnDtlCd} IS NULL OR A.RGN_DTL_CD = #{rgnDtlCd} OR #{rgnDtlCd} = '')
    </select>

    <select id="selectAptPrcInfo" parameterType="com.joonwook.realestate.dto.AptPrcInfoDto" resultType="com.joonwook.realestate.dto.AptPrcInfoDto">
        SELECT
            APT_DEAL_ID as aptDealId,
            HIST_STRT_DTS as histStrtDts,
            HIST_END_DTS as histEndDts,
            APT_DTL_ID as aptDtlId,
            PRC_TYPE_CD as prcTypeCd,
            DEAL_TYPE_CD as dealTypeCd,
            PRICE as price,
            PRC_DT as prcDt,
            REG_DTS as regDts,
            REGPE_ID as regpeId,
            MOD_DTS as modDts,
            MODPE_ID as modpeId
            FROM APT_PRC
        WHERE 1=1
        AND APT_DTL_ID = #{aptDtlId}
        AND PRC_TYPE_CD = #{prcTypeCd}
        AND DEAL_TYPE_CD = #{dealTypeCd}
    </select>

    <select id="selectRegionInfo" resultType="com.joonwook.realestate.domain.Region">
        SELECT
            RGN_CD as rgnCd,
            RGN_NM as rgnNm
        FROM REGION
        GROUP BY RGN_CD, RGN_NM
    </select>

    <select id="selectRegionDetailInfo" parameterType="String" resultType="com.joonwook.realestate.domain.Region">
        SELECT
        RGN_DTL_CD as rgnDtlCd,
        RGN_DTL_NM as rgnDtlNm
        FROM REGION
        WHERE 1=1
        AND RGN_CD = #{rgnCd}
    </select>

</mapper>