<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joonwook.realestate.Mapper.AptRegMapper">
    <insert id="insertApt" parameterType="com.joonwook.realestate.dto.AptRegDto" >
        <![CDATA[
            INSERT INTO APT (
                HIST_STRT_DTS,
                HIST_END_DTS,
                APT_NM,
                RGN_CD,
                RGN_DTL_CD,
                ADDRESS,
                APT_YEAR,
                UNIT_AMT,
                PLOT_RATE,
                APT_DESC,
                REG_DTS,
                REGPE_ID,
                MOD_DTS,
                MODPE_ID
            ) VALUES (
                NOW(),
                '9999-12-31 23:59:59',
                #{aptNm},
                #{rgnCd},
                #{rgnDtlCd},
                #{address},
                #{aptYear},
                #{unitAmt},
                #{plotRate},
                #{aptDesc},
                NOW(),
                'joonwook',
                NOW(),
                'joonwook'
            )
        ]]>
    </insert>

    <insert id="insertAptDtl" parameterType="com.joonwook.realestate.dto.AptDtlRegDto" >
        <![CDATA[
            INSERT INTO APT_DTL (
                HIST_STRT_DTS,
                HIST_END_DTS,
                APT_ID,
                TOT_AREA,
                USBL_AREA,
                ROOM_AMT,
                TOILET_AMT,
                HIGH_SELL_PRC,
                HIGH_SELL_DT,
                HIGH_RENT_PRC,
                HIGH_RENT_DT,
                APT_DTL_DESC,
                REG_DTS,
                REGPE_ID,
                MOD_DTS,
                MODPE_ID
            ) VALUES (
                NOW(),
                '9999-12-31 23:59:59',
                #{aptId},
                #{totArea},
                #{usblArea},
                #{roomAmt},
                #{toiletAmt},
                #{highSellPrc},
                #{highSellDt},
                #{highRentPrc},
                #{highRentDt},
                #{aptDtlDesc},
                NOW(),
                'joonwook',
                NOW(),
                'joonwook'
            )
        ]]>
    </insert>

    <insert id="insertAptPrc" parameterType="com.joonwook.realestate.dto.AptPrcRegDto" >
        <![CDATA[
            INSERT INTO APT_PRC (
                HIST_STRT_DTS,
                HIST_END_DTS,
                APT_DTL_ID,
                PRC_TYPE_CD,
                DEAL_TYPE_CD,
                PRICE,
                PRC_DT,
                APT_PRC_DESC,
                REG_DTS,
                REGPE_ID,
                MOD_DTS,
                MODPE_ID
            ) VALUES (
                NOW(),
                '9999-12-31 23:59:59',
                #{aptDtlId},
                #{prcTypeCd},
                #{dealTypeCd},
                #{price},
                #{prcDt},
                #{aptPrcDesc},
                NOW(),
                'joonwook',
                NOW(),
                'joonwook'
            )
        ]]>
    </insert>
</mapper>